  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h2><small class="text-muted">Angular-Supabase</small></h2>
    <div class="col-sm-12 col-lg-6 card shadow p-3 mb-5 bg-body rounded">
      <form class="m-4" (ngSubmit)="login()" [formGroup]="credentials">
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              formControlName="email">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
          </div>
        </div>
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary" [disabled]="!credentials.valid">Log in</button>
          <button type="button" class="btn btn-secondary ms-3" (click)="signUp()">Sign up!</button>
        </div>
      </form>
    </div>
  </div>
